body,
html {
	margin: 0;
	overflow-x: hidden;
	padding: 0;
	background-color: #f5f5f5;
}

html {
	box-sizing: border-box;
	overflow-x: hidden;
}

.App {
	text-align: center;
	width: 100vw;
	background-color: #f5f5f5;
}

nav {
	display: flex;
	margin-top: 0;
	position: fixed;
	justify-content: space-between;
	align-items: center;
	min-height: 10vh;
	background: rgb(73, 79, 82);
	color: white;
	margin: 0;
	padding-left: 24px;
	padding-right: 24px;
	width: 100%;
}

.nav-links {
	width: 35%;
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.li-style {
	padding-right: 10px;
}
/* color: red; */
/* background-color : blue; */
/* align-items: center; */
/* text-align: center; */
.rcw-conversation-container > .rcw-header {
	background-color: rgb(73, 79, 82);
}
